h1 {
    size: 30px;
    color: teal;
    text-align: center;
    padding: 5px;
}

h2 {
    size: 20px;
    color: darkmagenta;
    text-align: center;
    padding: 5px;
}

h3 {
    size: 15px;
    color: darkmagenta;
    text-align: center;
    padding: 5px;
}

input {
    font-size: 15px;
    width: 50%;
    color: black; 
    padding: 20px;
    margin-left: 10%;
    margin-right: 3%; 
}

body {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: solid;
    border-width: 20px;
    border-color: teal; 
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

#leafs {
    align-items: center;
    padding: 20px;

}