h1 {
    size: 30px;
    color: black;
    text-align: center;
    padding: 5px;
}

h2 {
    size: 20px;
    color: black;
    background-color: lightseagreen;
    text-align: center;
    padding-top: 5px;
}

h4 {
    size: 12px;
    color: black;
    background-color: lightseagreen;
    text-align: center;
    padding: 2px;
}

h3 {
    size: 15px;
    color: black;
    text-align: center;
    padding: 5px;
}

input {
    font-size: 15px;
    width: 50%;
    color: black; 
    padding: 10px;
    margin-left: 10%;
    margin-right: 3%; 
}

body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    border: solid;
    border-width: 12px;
    border-color: black; 
}

table {
    margin-left: 400px;
    margin-right: 400px;
}

button {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

#flowers {
    margin: 15px;
    padding: 10px; 
    
}
